<!--SHOW SPECIFIC TRACKER-->
<template name="track">
{{#if oneItem}}
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{#with oneItem}}
              {{name}}
          {{/with}}
        </h3>
      </div>
      <div class="panel-body">
        {{#with oneItem}}
          <p>{{description}}</p>
          <p>{{share}}</p>
          <p>Created: {{createdAt}}</p>
        {{/with}}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    {{> fullcalendar calOptions}}
  </div>
</div>
{{else}}
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Invalid tracker ID
        </h3>
      </div>
      <div class="panel-body">
        Oops...
      </div>
    </div>
  </div>
</div>
{{/if}}
</template>