<template name="home">
  <div class="template-home">
  <section id="top" name="top"></section>
    <div class="jumbotron vertical-center">
      <div class="container">
        <h1>We're going <b>streaking</b></h1>
        
        <div class="row sections">
          <div class="col-md-4 col-xs-4">
            <a href="#doitem">
            <h1><i class="fa fa-thumbs-up"></i></h1>
            <p>Do.</p>
            </a>
          </div>
          <div class="col-md-4 col-xs-4">
          <a href="#trackitem">
            <h1><i class="fa fa-check"></i></h1>
             <p>Track.</p>
             </a>
          </div>
          <div class="col-md-4 col-xs-4">
            <a href="#repeatitem">
            <h1><i class="fa fa-repeat"></i></h1>
             <p>Repeat.</p>
             </a>
          </div>
        </div>
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
      </div>
    </div>


    <div class="info">
      <hr>
      <section id="doitem" name="doitem"></section>
      <p>
      The things we do every day make up our daily routine. Sometimes we need an extra push to encourage new habits or to drop unhealthy ones. Streaker is a tool that doesn't just allow you to log these daily goals, but rewards you for repeating them daily.
      </p>
      <hr>
      <section id="trackitem" name="trackitem"></section>
      <p>
       Set and track goals privately or join the Streaker community and encourage others to repeat tasks with you.
      </p>
      <hr>
      <section id="repeatitem" name="repeatitem"></section>
      <p>
       Scientists say forming a habit takes 66 days.
      </p>
    </div>
    

        


    <div class="container">
      <h2>Recent Trackers</h2>
      <hr>
      <div class="row">
      {{#each items}}
        <div class="col-md-4">
          <h2>{{ name }}</h2>
          <p>Created by: {{ itemCreator.profile.name }} </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      {{else}}
        No recent trackers!? Someone must be doing something wrong. 
        {{#if currentUser}}
        Maybe you should <a href="/createTracker">create one</a>.
        {{/if}}
      {{/each}}
      </div>
      <hr>
    </div> 
  </div>
</template>
